{% extends 'base.html' %}
{% block content %}
<form action="/ayuda/" method="GET">
{% csrf_token %}
<br>
<button type="submit" name="datosEstudiante" style="font-size: medium;" class="button">Datos del estudiante</button>
<button type="submit" name="Documentacion" style="font-size: medium;" class="button">Documentacion</button>


<br>
<br>
{% if boton and boton == 'datosEstudiante' %}
<center>
    <div class="container">
        <div class="row">

            <div class="col align-self-center">
                <h2>Angel Francisco Sique Santos</h2>
                <h2>GitHub: ASique-4</h2>
                <h2>Carnet: 202012039</h2>
                <h2>Sección: D</h2>

            </div>

        </div>
    </div>
</center>
{% elif boton and boton == 'Documentacion' %}

    <h1><span>Abriendo PDF</span></h1>
{% endif %}
</form>



{% endblock %}