{% extends 'base.html' %}

{% block content %}
<br>
<center>
    <br>

    <button type="button" class="button" onclick="Consultar()">Consultar Datos</button>
    <button type="button" class="button">Resumen de clasificación por fecha</button>
    <button type="button" class="button">Resumen por rango de fechas</button>
    <button type="button" class="button">Reporte en PDF</button>
    <button type="button" class="button">Prueba de mensaje</button>



    <div class="form-group shadow-textarea">
        <label for="exampleFormControlTextarea6" id="labelTxtArea" >
            <h1 id="textoLabel"></h1>
        </label>
        {% if xml %}
        <textarea class="form-control z-depth-1" id="xmlConsulta" rows="15" style="visibility: hidden;" readonly>{{ xml }}</textarea>
        {% endif %}
    </div>
</center>
<script>
    function Consultar() {
        var label = document.getElementById('textoLabel')
        var xmlTxt = document.getElementById('xmlConsulta')
        xmlTxt.style.visibility = 'visible'
        label.innerText = 'XML Ingresado'
    }
</script>

{% endblock content %}